
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Movies Categories</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
  
  
  <form  [formGroup]="moviesForm" ngxsForm="moviesStore.moviesForm"  (ngSubmit)="onSubmit()">
  <div class="form-row">
      <div class="col-sm-4">
          <div class="form-group has-success">
              <label for='inputname' class='form-control-label'>Name</label>
              <input type='text' class='form-control'  placeholder='name' formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f?.name?.errors }">
          </div>
      </div>

  </div>
  <div class="form-row float-right">
    <div class="col-sm-2" style="margin-right: 40px;">
      <div class="form-group has-success">
      <button type="submit" class="btn btn-info btn-lg">Save</button>
    </div>
  </div>
    <div class="col-sm-2">
      <div class="form-group has-success">
      <button type="button" class="btn btn-danger btn-lg"  (click)="onCancel()">Cancel</button>
     </div>
    </div>
  </div>
  </form>
  </div>